{% extends "!layout.html" %}

{% block extrahead %}
  

<meta name="description" content="To set up YouTube TV using yt.be/activate, open the YouTube app on tv and look for the activation code. On a separate device visit yt.be/activate on your phone or computer, sign in, and enter the code for YouTube TV Setup." />
<meta name="keywords" content="yt.be/activate, activate YouTube on smart tv, yt.be activate enter code tv, yt.be activate login, yt activate login, yt be activate enter, please enter your activation code, enter your activation code, tv.youtube.com start, enter my activation code, youtube activate, yt activate login, activate YouTube on my computer, youtube activate tv enter code, youtube tv activate, youtube tv start activate," />
<meta name="robots" content="index, follow" />
<title>Step-by-Step Guide to Use Yt.be/activate for YouTube TV Setup</title>
    {{ super() }}
{% endblock %}
